*.DS_Store

# Ignore test files
*.out
*.dat

# Ignore gnuplot files
*.png
*.gnu
*.gp
*.eps
*.sh
!/parallel/benchmarks/submit.sh
*.gp
!/parallel/benchmarks/*.gp
benchmarks_*

# Ignore object files
*.o

# Ignore executables
main_serial
main_parallel
tester_serial
tester_serial

# VampirTrace files
*.z
*.dSYM
*.otf
*.thumb
*.vsettings
parallel_profiling

# Build
build
